Repository Vijay-Duke/mcp-atlassian, changes with the labels that .github/labeler.yml gives for each.
All labels: source, tests, documentation, configuration, ci/cd, jira, confluence, security, dependencies

docs: add comprehensive CI/CD setup guide
  docs/CI_CD_SETUP.md
Labels: documentation

fix: add missing test coverage dependency for CI pipeline
  package-lock.json
  package.json
Labels: configuration, dependencies

ci: remove codecov integration until properly configured
  .github/workflows/ci.yml
Labels: ci/cd

fix: simplify security workflow and fix CodeQL configuration
  .github/codeql/codeql-config.yml
  .github/workflows/security.yml
Labels: ci/cd

test: add comprehensive test coverage for handlers and validators
  src/__tests__/confluence/handlers.test.ts
  src/__tests__/jira/handlers.test.ts
  src/__tests__/utils/input-validator.test.ts
Labels: source, tests, security

chore: add repository housekeeping files and configurations
  .github/pull_request_template.md
  .npmignore
  CODEOWNERS
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
Labels: documentation, ci/cd

fix: update input validation tests to match actual implementation
  src/__tests__/utils/input-validator.test.ts
Labels: source, tests, security

fix: update input validation tests to match actual implementation
  src/__tests__/utils/input-validator.test.ts
Labels: source, tests, security

fix: update handler tests to match actual error message formats
  src/__tests__/confluence/handlers.test.ts
  src/__tests__/jira/handlers.test.ts
Labels: source, tests

fix: update Confluence and Jira handler tests
  src/__tests__/confluence/handlers.test.ts
  src/__tests__/jira/handlers.test.ts
Labels: source, tests

fix: resolve all remaining Jira handler test failures
  src/__tests__/jira/handlers.test.ts
Labels: source, tests

fix: correct TypeScript interface compliance in searchJiraIssuesByUser test
  src/__tests__/jira/handlers.test.ts
Labels: source, tests

chore: Add repository housekeeping files and comprehensive test improvements (#6)
  .github/pull_request_template.md
  .npmignore
  CODEOWNERS
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
  src/__tests__/confluence/handlers.test.ts
  src/__tests__/jira/handlers.test.ts
  src/__tests__/utils/input-validator.test.ts
Labels: source, tests, documentation, ci/cd, security

chore: Remove unnecessary organizational comments
  src/index.ts
  src/jira/handlers.ts
Labels: source, jira

chore: Remove unnecessary organizational comments (#7)
  src/index.ts
  src/jira/handlers.ts
Labels: source, jira

feat: Add comprehensive test suite and code quality tools
  .prettierignore
  .prettierrc
  eslint.config.js
  package-lock.json
  package.json
  src/__tests__/confluence/handlers.test.ts
  src/__tests__/index.test.ts
  src/__tests__/jira/handlers.test.ts
  src/__tests__/tools/confluence-tools.test.ts
  src/__tests__/tools/jira-tools.test.ts
  src/__tests__/tools/tool-integration.test.ts
  src/__tests__/utils/content-converter.test.ts
  src/__tests__/utils/export-converter.test.ts
  src/__tests__/utils/html-sanitizer.test.ts
  src/__tests__/utils/http-client.test.ts
  src/__tests__/utils/input-validator.test.ts
  src/confluence/handlers.ts
  src/confluence/tools.ts
  src/index.ts
  src/jira/handlers.ts
  src/jira/tools.ts
  src/types/index.ts
  src/utils/content-converter.ts
  src/utils/error-handler.ts
  src/utils/export-converter.ts
  src/utils/html-sanitizer.ts
  src/utils/http-client.ts
  src/utils/input-validator.ts
  src/utils/jql-sanitizer.ts
  src/utils/simple-pdf-export.ts
  src/utils/time-formatter.ts
  src/utils/user-cache.ts
Labels: source, tests, configuration, jira, confluence, security, dependencies

fix: Resolve CI/CD pipeline failures by fixing test TypeScript errors
  src/__tests__/index.test.ts
  src/__tests__/tools/confluence-tools.test.ts
  src/__tests__/tools/jira-tools.test.ts
  src/__tests__/tools/tool-integration.test.ts
Labels: source, tests

feat: Implement comprehensive security and logging improvements
  package-lock.json
  package.json
  src/__tests__/index.test.ts
  src/__tests__/tools/confluence-tools.test.ts
  src/__tests__/tools/jira-tools.test.ts
  src/__tests__/tools/tool-integration.test.ts
  src/confluence/handlers.ts
  src/index.ts
  src/types/enhanced-types.ts
  src/utils/argument-validator.ts
  src/utils/handler-wrapper.ts
  src/utils/logger.ts
  src/utils/security.ts
  src/utils/tool-registry.ts
Labels: source, tests, configuration, confluence, dependencies

feat: Improve tool naming and descriptions for better LLM usability
  src/__tests__/tools/confluence-tools.test.ts
  src/__tests__/tools/jira-tools.test.ts
  src/confluence/tools.ts
  src/index.ts
  src/jira/tools.ts
Labels: source, tests, jira, confluence

chore: bump version to 2.1.0 for release
  package-lock.json
  package.json
Labels: configuration, dependencies

chore: bump version to 2.1.0 for release (#11)
  package-lock.json
  package.json
Labels: configuration, dependencies

ci: add direct npm publish workflow for manual releases
  .github/workflows/npm-publish-direct.yml
Labels: ci/cd

fix: Resolve MCP JSON-RPC interference issues
  MCP_CONFIGURATION.md
  package.json
  run-mcp-server.sh
  src/confluence/handlers.ts
  src/index.ts
  src/jira/handlers.ts
  src/utils/export-converter.ts
  src/utils/logger.ts
Labels: source, documentation, configuration, jira, confluence, dependencies

refactor: Change log level from debug to warn for image processing issues
  src/utils/export-converter.ts
Labels: source

fix: Resolve MCP JSON-RPC interference issues (#12)
  MCP_CONFIGURATION.md
  package.json
  run-mcp-server.sh
  src/confluence/handlers.ts
  src/index.ts
  src/jira/handlers.ts
  src/utils/export-converter.ts
  src/utils/logger.ts
Labels: source, documentation, configuration, jira, confluence, dependencies

feat: add comprehensive workflow automation tools
  .all-contributorsrc
  .github/release-drafter.yml
  .github/workflows/ci.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/stale.yml
  .releaserc.json
  README.md
  codecov.yml
  docs/WORKFLOW_TOOLS.md
  renovate.json
  sonar-project.properties
Labels: documentation, configuration, ci/cd

fix: update Codecov integration to v5 and add lcov reporter
  .github/workflows/ci.yml
  vitest.config.ts
Labels: ci/cd

feat: add GitHub Packages support for dual registry publishing
  .github/workflows/publish-dual.yml
  .github/workflows/publish-github-packages.yml
  .npmrc.github
  docs/GITHUB_PACKAGES.md
  package.json
  sonar-project.properties
Labels: documentation, configuration, ci/cd, dependencies

fix: resolve security vulnerabilities reported by GitHub code scanning
  src/index.ts
  src/jira/handlers.ts
  src/utils/content-converter.ts
  src/utils/export-converter.ts
Labels: source, jira

fix: address review comments on regex patterns and entity decoding
  src/utils/content-converter.ts
  src/utils/export-converter.ts
Labels: source

fix: improve regex patterns to handle spaced closing tags
  src/utils/content-converter.ts
  src/utils/export-converter.ts
Labels: source

fix: resolve security vulnerabilities from code scanning (#17)
  src/index.ts
  src/jira/handlers.ts
  src/utils/content-converter.ts
  src/utils/export-converter.ts
Labels: source, jira

fix: prevent JSON-RPC interference by defaulting to MCP server mode
  README.md
  package.json
  src/utils/logger.ts
Labels: source, documentation, configuration, dependencies

fix: resolve linting issues for SonarCloud
  src/confluence/handlers.ts
  src/confluence/tools.ts
  src/jira/handlers.ts
  src/jira/tools.ts
  src/utils/content-converter.ts
  src/utils/export-converter.ts
  src/utils/logger.ts
Labels: source, jira, confluence

fix: prevent JSON-RPC interference and improve code quality
  .all-contributorsrc
  .github/release-drafter.yml
  .github/workflows/ci.yml
  .github/workflows/publish-dual.yml
  .github/workflows/publish-github-packages.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/stale.yml
  .npmrc.github
  .releaserc.json
  README.md
  codecov.yml
  docs/GITHUB_PACKAGES.md
  docs/WORKFLOW_TOOLS.md
  package.json
  renovate.json
  sonar-project.properties
  src/confluence/handlers.ts
  src/confluence/tools.ts
  src/jira/handlers.ts
  src/jira/tools.ts
  src/utils/content-converter.ts
  src/utils/export-converter.ts
  src/utils/logger.ts
  vitest.config.ts
Labels: source, documentation, configuration, ci/cd, jira, confluence, dependencies

fix: make SonarCloud and Release Drafter workflows optional
  .github/workflows/release-drafter.yml
  .github/workflows/sonarcloud.yml
Labels: ci/cd

fix: simplify SonarCloud workflow to use continue-on-error
  .github/workflows/sonarcloud.yml
Labels: ci/cd

fix: resolve major ESLint errors to unblock CI pipeline
  eslint.config.js
  src/confluence/handlers.ts
  src/utils/logger.ts
  src/utils/tool-registry.ts
Labels: source, confluence

security: fix SonarCloud security hotspots
  src/index.ts
  src/jira/handlers.ts
  src/utils/http-client.ts
  src/utils/time-formatter.ts
Labels: source, jira

test: improve coverage for security validation code
  src/__tests__/utils/http-client.test.ts
  src/utils/http-client.ts
Labels: source, tests

.github/labeler.yml:

# Add labels to PRs based on changed files

# Source code changes
"source":
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'

# Test changes
"tests":
  - changed-files:
    - any-glob-to-any-file: 'src/__tests__/**/*'

# Documentation changes
"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration changes
"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - '.*rc*'
      - '.*config.*'
      - 'package*.json'
      - 'tsconfig*.json'

# GitHub Actions changes
"ci/cd":
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

# Jira-specific changes
"jira":
  - changed-files:
    - any-glob-to-any-file: 'src/jira/**/*'

# Confluence-specific changes
"confluence":
  - changed-files:
    - any-glob-to-any-file: 'src/confluence/**/*'

# Security-related changes
"security":
  - changed-files:
    - any-glob-to-any-file:
      - '**/html-sanitizer*'
      - '**/input-validator*'
      - '**/jql-sanitizer*'

# Dependencies
"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'
      - 'package.json'
