Repository Vijay-Duke/mcp-atlassian, changes with the labels that .github/labeler.yml gives for each.
All labels: source, tests, documentation, configuration, ci/cd, jira, confluence, security, dependencies

test: add comprehensive security utility tests
  src/__tests__/utils/security.test.ts
Labels: source, tests

Add comprehensive tests for argument-validator and simple-pdf-export
  src/__tests__/utils/argument-validator.test.ts
  src/__tests__/utils/simple-pdf-export.test.ts
Labels: source, tests

Add comprehensive tests for error-handler.ts
  src/__tests__/utils/error-handler.test.ts
Labels: source, tests

Fix TypeScript error in argument-validator tests and add tool-registry tests
  src/__tests__/utils/argument-validator.test.ts
  src/__tests__/utils/tool-registry.test.ts
Labels: source, tests

Add comprehensive tests for handler-wrapper.ts
  src/__tests__/utils/handler-wrapper.test.ts
Labels: source, tests

Add comprehensive tests for user-cache.ts
  src/__tests__/utils/user-cache.test.ts
Labels: source, tests

Add comprehensive tests for logger.ts
  src/__tests__/utils/logger.test.ts
Labels: source, tests

Add comprehensive tests for time-formatter.ts
  src/__tests__/utils/time-formatter.test.ts
Labels: source, tests

Fix TypeScript error: Add missing afterEach import
  src/__tests__/utils/handler-wrapper.test.ts
Labels: source, tests

fix: add null-safe guards for API response array mappings
  src/confluence/handlers.ts
  src/jira/handlers.ts
Labels: source, jira, confluence

fix: migrate Jira search to new /rest/api/3/search/jql endpoint
  src/__tests__/jira/handlers.test.ts
  src/jira/handlers.ts
  src/types/index.ts
Labels: source, tests, jira

chore: configure for @efithor/mcp-atlassian v3.0.0 on GitHub Packages
  package.json
Labels: configuration, dependencies

docs: update README for @efithor/mcp-atlassian fork
  README.md
Labels: documentation

feat: add transition_jira_issue MCP tool
  src/index.ts
  src/jira/handlers.ts
  src/jira/tools.ts
  src/types/index.ts
Labels: source, jira

fix: migrate Jira search to new /rest/api/3/search/jql endpoint (#73)
  README.md
  package.json
  src/__tests__/jira/handlers.test.ts
  src/confluence/handlers.ts
  src/jira/handlers.ts
  src/types/index.ts
Labels: source, tests, documentation, configuration, jira, confluence, dependencies

fix(tests): add type assertions for MCP SDK content union type
  src/__tests__/utils/error-handler.test.ts
  src/__tests__/utils/handler-wrapper.test.ts
  src/__tests__/utils/tool-registry.test.ts
Labels: source, tests

Fix Confluence endpoint and attachment handling
  src/__tests__/confluence/handlers.test.ts
  src/confluence/handlers.ts
  src/utils/http-client.ts
Labels: source, tests, confluence

Handle Jira count/transition resolved failures
  src/__tests__/jira/handlers.test.ts
  src/jira/handlers.ts
Labels: source, tests, jira

Address Sonar new-code findings for PR 123
  src/__tests__/jira/handlers.test.ts
  src/jira/handlers.ts
Labels: source, tests, jira

Harden Jira transition ID validation
  src/__tests__/jira/handlers.test.ts
  src/jira/handlers.ts
Labels: source, tests, jira

Tighten Jira issue-key regex validation
  src/jira/handlers.ts
Labels: source, jira

fix: include generated declaration files in package
  .npmignore
Labels: none

chore: remove stray npmignore marker
  .npmignore
Labels: none

regex fix
  src/jira/handlers.ts
Labels: source, jira

test(jira): add validation tests for alphanumeric and underscore issue keys
  src/__tests__/jira/handlers.test.ts
Labels: source, tests

fix: allow digits and underscores in Jira issue key validation (#165)
  src/__tests__/jira/handlers.test.ts
  src/jira/handlers.ts
Labels: source, tests, jira

refactor: fix tool registration bug, remove dead code, zero lint warnings
  .gitignore
  .npmignore
  eslint.config.js
  package.json
  src/__tests__/confluence/handlers.test.ts
  src/__tests__/jira/handlers.test.ts
  src/__tests__/tools/confluence-tools.test.ts
  src/__tests__/tools/jira-tools.test.ts
  src/__tests__/tools/tool-integration.test.ts
  src/__tests__/utils/argument-validator.test.ts
  src/__tests__/utils/error-handler.test.ts
  src/__tests__/utils/handler-wrapper.test.ts
  src/__tests__/utils/input-validator.test.ts
  src/__tests__/utils/logger.test.ts
  src/__tests__/utils/security.test.ts
  src/__tests__/utils/simple-pdf-export.test.ts
  src/__tests__/utils/time-formatter.test.ts
  src/__tests__/utils/tool-registry.test.ts
  src/__tests__/utils/user-cache.test.ts
  src/confluence/handlers.ts
  src/index.ts
  src/jira/handlers.ts
  src/types/enhanced-types.ts
  src/types/index.ts
  src/utils/argument-validator.ts
  src/utils/content-converter.ts
  src/utils/error-handler.ts
  src/utils/export-converter.ts
  src/utils/handler-wrapper.ts
  src/utils/html-sanitizer.ts
  src/utils/http-client.ts
  src/utils/input-validator.ts
  src/utils/logger.ts
  src/utils/security.ts
  src/utils/simple-pdf-export.ts
  src/utils/time-formatter.ts
  src/utils/tool-registry.ts
  src/utils/user-cache.ts
Labels: source, tests, configuration, jira, confluence, security, dependencies

.github/labeler.yml:

# Add labels to PRs based on changed files

# Source code changes
"source":
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'

# Test changes
"tests":
  - changed-files:
    - any-glob-to-any-file: 'src/__tests__/**/*'

# Documentation changes
"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration changes
"configuration":
  - changed-files:
    - any-glob-to-any-file:
      - '.*rc*'
      - '.*config.*'
      - 'package*.json'
      - 'tsconfig*.json'

# GitHub Actions changes
"ci/cd":
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

# Jira-specific changes
"jira":
  - changed-files:
    - any-glob-to-any-file: 'src/jira/**/*'

# Confluence-specific changes
"confluence":
  - changed-files:
    - any-glob-to-any-file: 'src/confluence/**/*'

# Security-related changes
"security":
  - changed-files:
    - any-glob-to-any-file:
      - '**/html-sanitizer*'
      - '**/input-validator*'
      - '**/jql-sanitizer*'

# Dependencies
"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - 'package-lock.json'
      - 'package.json'
